*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.ipa
*.xcodeproj
*.sln
*.suo
*.opensdf
*.sdf
*.sln
SourceArt/**/*.png
SourceArt/**/*.tga
Binaries
Build
!Build/**/*.ico
Saved
Intermediate
DerivedDataCache

# Compiled Object files
*.pdb
*.DS_Store

#folders
Plugins/LeapMotion/Intermediate

# Visual Studio 2015 user specific files
.vs/

# Visual Studio 2015 database file
*.VC.db
*.VC.opendb

# Binary Files
Binaries/*

# Builds
Build/*

# Don't ignore icon files in Build
!Build/**/*.ico
